* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #222;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.container,
.container-1k {
  margin: 0 auto;
  padding: 0 0.3rem;
}

.container {
  max-width: 1200px;
}

.container-1k {
  max-width: 1000px;
}
/****************************/
/********** flex ***********/
/****************************/

.flex-col {
  display: flex;
  flex-direction: column;
}

/****************************/
/********** BTN ***********/
/****************************/

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

/****************************/
/********** BTN ***********/
/****************************/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: var(--c-main-red);
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:active {
  background-color: var(--c-red-second);
}

.btn-sign {
  padding: 0.7rem 2rem;
}

.btn-start {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  min-height: 7rem;
  padding: 0 3rem;
  font-size: 3rem;
  text-align: left;
  letter-spacing: 1.5px;
}

/* .btn-start {
  display: flex;
  align-items: center;
} */

.margin-bottom-sm {
  margin-bottom: 2.4rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
