:root {
  --c-main-red: #f40612;
  --c-red-second: #e50914;
  --c-black-first: #000;
  --c-main-grey: #222;
  --c-grey-2: #303030;
  --c-grey-3: #757575;
  --c-main-white: #fff;
  --px-border-width: 8px;
}

/********************************
******* HEADER   *****
*********************************/

.svg-icon-netflix-logo {
  fill: var(--c-main-red);
  height: 4.5rem;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/********************************
******* NAVIGATION  *****
*********************************/

.header-nav {
  width: 100%;
  height: auto;

  padding: 2.5rem 5.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.languajes {
  padding: 0.8rem 2.2rem;
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.4);
  color: var(--c-main-white);
}

.languajes-box {
  position: relative;
}

.languajes option {
  color: var(--c-main-grey);
}

.caret-down-icon,
.word-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
/* POINTER EVENTS
The element is never the target of pointer events; however, pointer events may target its descendant elements if those descendants have pointer-events set to some other value. In these circumstances, pointer events will trigger event listeners on this parent element as appropriate on their way to/from the descendant during the event capture/bubble phases.
*/

.word-icon {
  left: 11%;
  font-size: 1.8rem;
}

.caret-down-icon {
  right: -7.5%;
  font-size: 1.9rem;
}
/********************************
******* HEADER  *****
*********************************/

header {
  height: 100vh;

  /* background: no-repeat center/cover
    url("https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/e879700c-2c0f-4208-9142-3e1718756811/AR-en-20210719-popsignuptwoweeks-perspective_alpha_website_large.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/e879700c-2c0f-4208-9142-3e1718756811/AR-en-20210719-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  box-shadow: inset 12rem 10rem 25rem #000, inset -12rem -10rem 25rem #000;

  border-bottom: var(--px-border-width) solid var(--c-main-grey);
}

.section-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 400;
  text-align: center;
}

.container-header {
  width: 72rem;
}

.hero-title {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;
}

.hero-subtitle {
  margin: 1.5rem 2rem 5rem 2rem;
  font-weight: 300;
  font-size: 2.5rem;
}

.hero-form {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  text-align: center;
  max-width: 86rem;
  margin: 0 auto;
}

.hero-form--title {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.input-box {
  display: flex;
  justify-content: center;
  height: 7rem;
  width: 100%;
}

.form--input {
  width: 62%;
  padding: 0 2rem;
  font-size: 2rem;
}

.form--input::placeholder {
  opacity: 0.8;
  font-size: 1.8rem;
  font-weight: 300;
}

/********************************
******* WATCH SECTION  *****
*********************************/

.section-watch {
  padding: 7rem 4.5rem;
  margin-bottom: 7rem;
  border-bottom: var(--px-border-width) solid var(--c-main-grey);
}

.watch-items {
  column-gap: 2rem;
  row-gap: 8rem;
  align-items: center;
  justify-items: center;
}

.story-card-text {
  max-width: 100%;
}

.story-card-text h2 {
  font-size: 5rem;
  letter-spacing: 0.3rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.story-card-text h3 {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.2;
}

.story-card-img {
  width: 85%;
}

/* .story-card-video {
  position: relative;
} */

.story-card-video--box {
  position: relative;
}

.story-card-video--1,
.story-card-video--2 {
  position: absolute;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: -1;
}

.story-card-video--1 {
  top: 48%;
  left: 42%;
  width: 62%;
}
.story-card-video--2 {
  top: 33%;
  left: 42%;
  width: 55%;
}

.profile-kids {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

.profile-kids .story-card-img {
  width: 40%;
}

.profile-kids .story-card-text {
  width: 60%;
}

/********************************
******* QUESTIONS SECTION  *****
*********************************/

.section-questions {
  padding: 0 4.5rem 7rem 4.5rem;
  border-bottom: var(--px-border-width) solid var(--c-main-grey);
}

.questions-title {
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.2rem;
}

.questions {
  max-width: 70%;
  margin: 0 auto 8rem auto;
  gap: 0.8rem;
}

.question-item {
  background-color: var(--c-grey-2);
  border-radius: 2px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 3rem;

  cursor: pointer;
}

.question-title,
.answer {
  font-weight: 400;
  font-size: 3rem;
}

.question-icon {
  font-size: 4rem;
}

.answer-box {
  padding: 4rem 3rem;
  line-height: 1.2;
}

.answer-box p {
  margin-bottom: 3rem;
}

.answer-box p:last-child {
  margin-bottom: 0rem;
}

.answer-closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 5s ease-out;
  transition: border-top 0.3s ease-out;
}

.answer-opened {
  max-height: 120rem;
  overflow: visible;
  border-top: 2px solid var(--c-black-first);

  /* Transition to OPEN the tab */
  transition: max-height 0.5s ease-out;
}

/********************************
******* FOOTER SECTION  *****
*********************************/

.footer {
  color: var(--c-grey-3);
  font-weight: 300;
  font-size: 1.4rem;

  gap: 4rem;
}

.section-footer .grid-col-4 {
  gap: 2rem;
}

.section-footer .languajes-box {
  color: var(--c-main-white);
}

.grid-footer--list {
  gap: 2rem;
}

.section-footer .languajes-box {
  display: inline-block;
}

.netflix--country {
  margin-top: 2rem;
}
